:root {
    --dark-color: rgb(255, 140, 0);
    --light-color: rgb(180, 243, 151);

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--light-color);
    

}
.weather {
    display: flex;
    width: 60%;
    margin: auto;
    min-height: 100px;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 20px;
    align-items: center;

}
 h1 {
     font-size: 40px;
 }
label {
    font-size: 30px
}
#days {
        position: relative;
        max-width: 100px;
        font-size: 25px;
}

.results {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: black;
    min-width: 60%;
    

}

.sub {
    /* border: 2px black solid; */

    color: black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    

}

.left {
    /* background-color: beige; */
    
    
}

.right {
    padding-left: 30px;
    /* background-color: beige; */
}

.newdiv {
    padding: 50px;
    border: 4px dotted purple;
}

